
<div class="container-fluid">
    <div class="row">
      <div class="col-10"></div>
      <div class="col-1 mt-5">
        <button
          style="margin-left: 10px"
          class="btn btn-primary"
          type="button"
          routerLink="/Vehiculo"
        >
          Cerrar Lista
        </button>
      </div>
      <div class="backgorund"></div>
      <div class="col-6" *ngIf="!mostrarActualizar">
        <app-Vehiculo-detail (emitChange)="restableceRegistro()"></app-Vehiculo-detail>
      </div>
      <div class="col-6" *ngIf="mostrarActualizar">
        <app-Vehiculo-detail
          [id]="id"
          (emitChange)="restableceRegistro()"
        ></app-Vehiculo-detail>
      </div>
      <div class="col-6 mt-5">
            <div class="card">
<div class="card-header">Tabla Vehiculo</div><div class="card-body" style="overflow-x: auto;"><div class="card-body">
          <table class="table table-white table-striped">
              <thead>
                <tr>
<th scope="col">#</th>
<th scope="col">Tipo de vehiculo</th>

<th scope="col">Actualizar</th>
            <th scope="col">Borrar</th>
 </tr>
              </thead>
<tbody class="table-group-divider" >
                <tr *ngFor="let vehiculo of vehiculoAll; index as i">

                  <th scope="row">{{i+1}}</th>
<td>{{vehiculo.tipo_vehiculo}}</td>
 <td><button (click)="actualizar(vehiculo.tipo_vehiculo)" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></td>
                    <td><button (click)="eliminar(vehiculo)" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

<router-outlet></router-outlet> 