.uiverse {
    position: relative;
    background: #ffffff;
    color: #000;
    padding: 50px;
    margin: 10px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip {
    top: 0;
    font-size: 18px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .uiverse:hover,
  .uiverse:hover .tooltip,
  .uiverse:hover .tooltip::before {
    background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
    color: #ffffff;
  }







  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul.menu {
    display: inline-block;
    list-style-type: none;
  }
  li.menu_list {
    height: 100px;
    width: 100px;
    position: relative;
  }
  li.menu_list .front,
  a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
  }
  li.menu_list .front {
    background-color: #2c2020;
    color: #ffffff;
    transform-origin: 0 0;
  }
  a.side {
    background-color: #2820a0;
    color: #ffffff;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
  }
  li.menu_list:hover a.side {
    transform: rotateY(0deg);
  }
  li.menu_list:hover .front {
    transform: rotateY(90deg);
  }
  


  table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
  }







  button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 100px 100px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #121424;
    backdrop-filter: blur(10px);
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -500px 0 0 #201f1f;
  }
  
  button:active {
    transform: scale(0.9);
  }


  .top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }


  .svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }
  



 