
<nav class="navbar" style="border: 0px solid rgb(255, 255, 255); padding: 20px; backdrop-filter: blur(10px);">
  
    <div class="container">
      <img
        src="../assets/img/2x3-carwahs-logo-blanco.png"
        width="auto"
        height="auto"
        class="d-inline-block align-top"
        alt=""
        routerLink="/Landing"
      />
    </div>
</nav>
<div class="row">
<div class="col-md-4">
  <button class="box" routerLink="/clientes">
    <span class="tooltip"></span>
    <i class="bi bi-person" style="font-size: 24px"></i>
    <div class="content">
      <h2>Clientes</h2>
    </div>
  </button>
</div>
<div class="col-md-4">
  <button class="box" routerLink="/reportes">
    <span class="tooltip"></span>
    <i class="fas fa-qrcode" style="font-size: 24px"></i>
    <div class="content">
      <h2>Codigo QR</h2>
    </div>
  </button>
</div>
<div class="col-md-4">
  <button class="box" routerLink="/registro">
    <span class="tooltip"></span>
    <i class="bi bi-journal" style="font-size: 24px"></i>
    <div class="content">
      <h2>Hacer registro</h2>
    </div>
  </button>
</div>
<div class="col-md-4">
  <button class="box" routerLink="/empleados-detail">
    <span class="tooltip"></span>
    <i class="bi bi-person" style="font-size: 24px"></i>
    <div class="content">
      <h2>Empleados</h2>
    </div>
  </button>
</div>
<div class="col-md-4">
  <button class="box" routerLink="/control_rh">
    <span class="tooltip"></span>
    <i class="bi bi-people-fill" style="font-size: 24px"></i>
    <div class="content">
      <h2>Control RH</h2>
    </div>
  </button>
</div>
</div>
 
             
  