<nav class="navbar" style="border: 0px solid rgb(255, 255, 255); padding: 20px; backdrop-filter: blur(10px);">
  <div class="container">
    <img
      src="../assets/img/2x3-carwahs-logo-blanco.png"
      width="auto"
      height="auto"
      class="d-inline-block align-top "
      alt=""
      routerLink="/Landing"
    />
  </div>
  </nav>
  <div class="button-container m-5">
  <button type="button" class="btn btn-primary" routerLink="/Landing">
    <i class="fas fa-arrow-left" style='font-size:24px'></i>
  </button>
</div>
<div class="button-container">
    <div class="scene">
      <div class="cube">
        <span class="side top" routerLink="/Area">Registrar</span>
        <span class="side front">Area</span>
      </div>
    </div>
    <div class="scene">
      <div class="cube">
        <span class="side top" routerLink="/Empleado">Registrar</span>
        <span class="side front">Empleado</span>
      </div>
    </div>
    <div class="scene">
      <div class="cube">
        <span class="side top " routerLink="/Formu">Registrar</span>
        <span class="side front">Evalución</span>
      </div>
    </div>
    <div class="scene">
      <div class="cube">
        <span class="side top" routerLink="/Servicio">Registrar</span>
        <span class="side front">Servicio</span>
      </div>
    </div>
    <div class="scene">
      <div class="cube">
        <span class="side top" routerLink="/Sucursal">Registrar</span>
        <span class="side front">Sucursal</span>
      </div>
    </div>
    <div class="scene">
      <div class="cube">
        <span class="side top" routerLink="/Vehiculo">Registrar</span>
        <span class="side front">Vehiculo</span>
      </div>
    </div>
    <div class="scene">
      <div class="cube">
        <span class="side top" routerLink="/formulario">Registrar</span>
        <span class="side front">Formulario</span>
      </div>
    </div>
    <div class="scene">
        <div class="cube">
          <span class="side top" routerLink="/grafico">Ver</span>
          <span class="side front">Ver Grafico</span>
        </div>
      </div>
      <div class="scene">
        <div class="cube">
          <span class="side top" routerLink="/user">Registrar</span>
          <span class="side front">Usuarios</span>
        </div>
      </div>
      <div class="scene">
        <div class="cube">
          <span class="side top" routerLink="/clientes">Registrar</span>
          <span class="side front">Clientes</span>
        </div>
      </div>
      <div class="scene">
        <div class="cube">
          <span class="side top" routerLink="/adicionales">Registrar</span>
          <span class="side front">Adicionales</span>
        </div>
      </div>
      <div class="scene">
        <div class="cube">
          <span class="side top" routerLink="/promociones">Registrar</span>
          <span class="side front">Promociones</span>
        </div>
      </div>
      <div class="scene">
        <div class="cube">
          <span class="side top" routerLink="/registro_lavados">Registrar</span>
          <span class="side front">R.Lavados</span>
        </div>
      </div>
  </div>