
<nav class="navbar" style="border: 0px solid rgb(255, 255, 255); padding: 20px; backdrop-filter: blur(10px);">
    <div class="container">
      <img
        src="../assets/img/2x3-carwahs-logo-blanco.png"
        width="auto"
        height="auto"
        class="d-inline-block align-top "
        alt=""
        routerLink="/Landing"
      />
    </div>
    </nav>

    <div style="padding: 20px;">
     
  
      <div class="row">
        <div class="col-md-4">
          <button class="box" routerLink="/nominas">
            <span class="tooltip"></span>
            <i class="bi bi-bookmarks-fill" style="font-size: 20px"></i>
            <div class="content">
              <h2>Nominas</h2>
            </div>
          </button>
        </div>
    
        <div class="col-md-4">
          <button class="box" routerLink="/empleados">
            <span class="tooltip"></span>
            <i class="bi bi-bookmarks-fill" style="font-size: 20px"></i>
            <div class="content">
              <h2>Empleados</h2>
            </div>
          </button>
        </div>
    
        <div class="col-md-4">
          <button class="box" routerLink="/estadisticas">
            <span class="tooltip"></span>
            <i class="bi bi-bookmarks-fill" style="font-size: 20px"></i>
            <div class="content">
              <h2>Estadisticas</h2>
            </div>
          </button>
        </div>
    </div>
  